flows.json
[{"id":"2bf27921.c09716","type":"tab","label":"Living Room Lights","disabled":false,"info":""},{"id":"a43b6178.2b6c1","type":"tab","label":"Tidy Up","disabled":false,"info":""},{"id":"83b3d59c.0b8848","type":"tab","label":"Change Scene","disabled":false,"info":""},{"id":"e3330cd1.4ad86","type":"tab","label":"SHM","disabled":false,"info":""},{"id":"44e40327.1945ec","type":"tab","label":"Burglar Deterrent","disabled":false,"info":""},{"id":"cee05142.c172e8","type":"tab","label":"Error Checking","disabled":false,"info":""},{"id":"9573fbce.d39958","type":"tab","label":"Logging","disabled":false,"info":""},{"id":"26d43138.aa613e","type":"tab","label":"Scheduled","disabled":false,"info":""},{"id":"b56c7f40.a7397","type":"tab","label":"mqtt","disabled":false,"info":""},{"id":"86fae200.61af7","type":"server","z":"","name":"Home Assistant"},{"id":"9e34fd70.f10fc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"be947080.2e5","type":"mqtt-broker","z":"","name":"sfbtmonitor","broker":"localhost","port":"1883","tls":"","clientid":"nodered-client2","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"nodered-birth","birthQos":"0","birthRetain":"false","birthPayload":"nodered-birth","closeTopic":"nodered-death","closeQos":"0","closeRetain":"false","closePayload":"nodered-death","willTopic":"nodered-will","willQos":"0","willRetain":"false","willPayload":"nodered-will"},{"id":"a502fb56.a9f708","type":"mqtt-broker","z":"","name":"sfhassio","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bd908cd8.fe32a","type":"inject","z":"a43b6178.2b6c1","name":"3am","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["7ea7de22.a2f2c","8ebaa712.1f6b38"]]},{"id":"7ea7de22.a2f2c","type":"api-current-state","z":"a43b6178.2b6c1","name":"S1 State","server":"86fae200.61af7","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.living_room_s1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":260,"y":80,"wires":[["45204d5.1b251b4"]]},{"id":"45204d5.1b251b4","type":"switch","z":"a43b6178.2b6c1","name":"Check Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":120,"wires":[[],["1f8b84e7.4dc90b","9ad546b9.836ce8"]]},{"id":"8ebaa712.1f6b38","type":"api-current-state","z":"a43b6178.2b6c1","name":"S2 State","server":"86fae200.61af7","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.living_room_s2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":260,"y":160,"wires":[["45204d5.1b251b4"]]},{"id":"1f8b84e7.4dc90b","type":"api-call-service","z":"a43b6178.2b6c1","name":"Power Switch On","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"","data":"{\"entity_id\":\"{{data.entity_id}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":650,"y":120,"wires":[["f8acb3a1.8f12a"]]},{"id":"d8f5b0bf.7c18b","type":"switch","z":"a43b6178.2b6c1","name":"Check Switch","property":"data.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"switch.living_room_s1","vt":"str"},{"t":"eq","v":"switch.living_room_s2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":860,"y":240,"wires":[["8c23cb27.580b08"],["a06eb0c5.3ad9e"]]},{"id":"9ad546b9.836ce8","type":"delay","z":"a43b6178.2b6c1","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":240,"wires":[["d8f5b0bf.7c18b"]]},{"id":"c6b0d054.8a107","type":"api-call-service","z":"a43b6178.2b6c1","name":"Turn off","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"","data":"{\"entity_id\":\"{{topic}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1220,"y":240,"wires":[["5de38189.fae38","43615acd.25e694"]]},{"id":"5de38189.fae38","type":"debug","z":"a43b6178.2b6c1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1370,"y":200,"wires":[]},{"id":"76a5b5d5.f38f3c","type":"server-state-changed","z":"2bf27921.c09716","name":"Motion","server":"86fae200.61af7","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.living_room_fibaro_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":240,"wires":[["ff12b82e.0827c8","a54803b9.7127e"],[]]},{"id":"ff12b82e.0827c8","type":"change","z":"2bf27921.c09716","name":"Set Now","rules":[{"t":"set","p":"lrlo.now","pt":"global","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":180,"wires":[[]]},{"id":"538f0757.1800b8","type":"time-range-switch","z":"2bf27921.c09716","name":"Sunset- 8pm","lat":"51.33186","lon":"-1.04849","startTime":"sunsetStart","endTime":"20:00","startOffset":"0","endOffset":0,"x":630,"y":240,"wires":[["1b57d48b.11cbbb"],["cf202d26.7abe9"]]},{"id":"1b57d48b.11cbbb","type":"timecheck","z":"2bf27921.c09716","name":"After 20:00","time":"20:00","x":850,"y":240,"wires":[["cf202d26.7abe9"],["3504b208.606ace"]]},{"id":"cf202d26.7abe9","type":"time-range-switch","z":"2bf27921.c09716","name":"Sunset - Sunrise","lat":"51.33186","lon":"-1.04849","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":"0","endOffset":0,"x":650,"y":340,"wires":[["9f99ba2e.b25a88"],["48808af5.9158b4"]]},{"id":"48808af5.9158b4","type":"time-range-switch","z":"2bf27921.c09716","name":"Sunrise - Sunset","lat":"51.33186","lon":"-1.04849","startTime":"sunriseEnd","endTime":"sunsetStart","startOffset":0,"endOffset":0,"x":650,"y":440,"wires":[["949c8bde.335788"],[]]},{"id":"b7d685e5.d59eb8","type":"switch","z":"2bf27921.c09716","name":"Low Light","property":"payload.living_room_lux","propertyType":"msg","rules":[{"t":"lt","v":"4","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1000,"y":440,"wires":[["da71e77b.d85c08"],["7eaf4f1e.520cd"]]},{"id":"d9dd1649.6fa198","type":"time-range-switch","z":"e3330cd1.4ad86","name":"","lat":"51.33186","lon":"-1.04849","startTime":"22:00","endTime":"01:00","startOffset":0,"endOffset":0,"x":670,"y":560,"wires":[["f2af9609.5c0ee8"],[]]},{"id":"1bc0ee11.d81132","type":"time-range-switch","z":"e3330cd1.4ad86","name":"","lat":"51.33186","lon":"-1.04849","startTime":"06:00","endTime":"12:00","startOffset":0,"endOffset":0,"x":670,"y":420,"wires":[["147dbbd.df0f144"],[]]},{"id":"20f13ac4.84ee66","type":"api-call-service","z":"e3330cd1.4ad86","name":"Change Location Mode","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.location_mode","data":"{\"option\":\"{{topic}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1950,"y":620,"wires":[["cd411d4a.40f12"]]},{"id":"e1cbe7fb.92cf38","type":"time-range-switch","z":"e3330cd1.4ad86","name":"","lat":"51.33186","lon":"-1.04849","startTime":"01:00","endTime":"06:00","startOffset":0,"endOffset":0,"x":670,"y":640,"wires":[["12a10cc1.7712c3"],[]]},{"id":"894bf7b6.0943e8","type":"api-current-state","z":"e3330cd1.4ad86","name":"Check not already set","server":"86fae200.61af7","version":1,"outputs":2,"halt_if":"topic","halt_if_type":"msg","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_select.location_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1700,"y":620,"wires":[["20f13ac4.84ee66"],[]]},{"id":"f2af9609.5c0ee8","type":"api-current-state","z":"e3330cd1.4ad86","name":"Location Mode","server":"86fae200.61af7","version":1,"outputs":2,"halt_if":"[\"Evening\"]","halt_if_type":"jsonata","halt_if_compare":"does_not_include","override_topic":false,"entity_id":"input_select.location_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":900,"y":560,"wires":[["12a10cc1.7712c3"],[]]},{"id":"e3649c7e.cbbd8","type":"inject","z":"e3330cd1.4ad86","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":340,"wires":[["3936b03b.2de4"]]},{"id":"da230c.782a6cf8","type":"inject","z":"2bf27921.c09716","name":"force","topic":"","payload":"{\"initiator\":\"forced\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":180,"wires":[["ff12b82e.0827c8","a54803b9.7127e"]]},{"id":"c5b353d0.8b929","type":"change","z":"2bf27921.c09716","name":"Set All Off","rules":[{"t":"set","p":"lrlo.all_lights_off","pt":"global","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":180,"wires":[[]]},{"id":"949c8bde.335788","type":"change","z":"2bf27921.c09716","name":"Set Lux","rules":[{"t":"set","p":"payload.living_room_lux","pt":"msg","to":"homeassistant.homeAssistant.states['sensor.living_room_fibaro_illuminance'].state","tot":"global"},{"t":"set","p":"payload.living_room_lux","pt":"msg","to":"$number($$.payload.living_room_lux)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":440,"wires":[["b7d685e5.d59eb8","96419b7b.f77978"]]},{"id":"ecb27cec.2ac69","type":"server-state-changed","z":"83b3d59c.0b8848","name":"Evening Chill","server":"86fae200.61af7","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.scene_evening_chill","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":140,"wires":[["b9673b39.28dac8"],[]]},{"id":"13b79dc.3b88e62","type":"api-call-service","z":"83b3d59c.0b8848","name":"Change Scene","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"hue","service":"hue_activate_scene","entityId":"","data":"{\"group_name\":\"Living Room\",\"scene_name\":\"{{payload.scene_name}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":300,"wires":[["f0be7445.6f97f8","90c74cd3.9949"]]},{"id":"9b7917ef.af09e8","type":"server-state-changed","z":"83b3d59c.0b8848","name":"Evening Movie","server":"86fae200.61af7","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.scene_evening_movie","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":340,"wires":[["71b459c8.690758"],[]]},{"id":"788f85ff.9b3c7c","type":"server-state-changed","z":"83b3d59c.0b8848","name":"Normal","server":"86fae200.61af7","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.scene_normal","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":240,"wires":[["6eca50dc.87cc2"],[]]},{"id":"6292ae5.a757f5","type":"server-state-changed","z":"83b3d59c.0b8848","name":"Reading","server":"86fae200.61af7","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.scene_reading","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":440,"wires":[["a585162b.4f75e8"],[]]},{"id":"b3dc6f4d.93a2f","type":"api-call-service","z":"83b3d59c.0b8848","name":"Turn Off","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"","data":"{\"entity_id\":\"{{topic}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1160,"y":300,"wires":[["f78ee986.24c3a8"]]},{"id":"66204529.5bb0ec","type":"inject","z":"83b3d59c.0b8848","name":"force","topic":"input_boolean.scene_evening_chill","payload":"forced","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["b9673b39.28dac8"]]},{"id":"f0be7445.6f97f8","type":"delay","z":"83b3d59c.0b8848","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":300,"wires":[["58560fed.40393"]]},{"id":"e27b8e7a.95628","type":"server-state-changed","z":"83b3d59c.0b8848","name":"Flash Benjamin","server":"86fae200.61af7","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.flash_benjamin","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":600,"wires":[["4fd5c9dc.fbbbb8"],[]]},{"id":"438bdf8f.baaa6","type":"inject","z":"83b3d59c.0b8848","name":"force","topic":"","payload":"{\"initiator\":\"forced\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":560,"wires":[["4fd5c9dc.fbbbb8"]]},{"id":"4fd5c9dc.fbbbb8","type":"looptimer","z":"83b3d59c.0b8848","duration":"2","units":"Second","maxloops":"2","maxtimeout":"1","maxtimeoutunits":"Hour","name":"Loop 3","x":280,"y":600,"wires":[["9fd92127.6e897"],[]]},{"id":"9fd92127.6e897","type":"api-call-service","z":"83b3d59c.0b8848","name":"Flash Bedroom 3","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"{\"entity_id\":\"light.bedroom_2\", \"flash\": \"short\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":600,"wires":[["f0be7445.6f97f8","e2834ec9.ff942"]]},{"id":"a54803b9.7127e","type":"api-current-state","z":"2bf27921.c09716","name":"Lights Off?","server":"86fae200.61af7","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.living_room","state_type":"str","state_location":"payload.living_room_lights_state","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":250,"y":240,"wires":[["3fef73b7.28265c"],[]]},{"id":"53d088ba.144778","type":"inject","z":"44e40327.1945ec","name":"25 Mins","topic":"","payload":"{\"initiator\":\"timer\"}","payloadType":"json","repeat":"1440","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":200,"wires":[["f173554.26e1fa8"]]},{"id":"f173554.26e1fa8","type":"api-current-state","z":"44e40327.1945ec","name":"Away?","server":"86fae200.61af7","version":1,"outputs":2,"halt_if":"Away","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.location_mode","state_type":"str","state_location":"payload.home","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":230,"y":200,"wires":[["a7ba583d.b71538","d00a2ef6.ed692","db186e4c.421d58"],[]]},{"id":"a7ba583d.b71538","type":"time-range-switch","z":"44e40327.1945ec","name":"","lat":"51.33186","lon":"-1.04849","startTime":"sunsetStart","endTime":"23:15","startOffset":0,"endOffset":0,"x":450,"y":200,"wires":[["ff2e685c.10a3c"],[]]},{"id":"854a1fa.f2b35e","type":"api-current-state","z":"44e40327.1945ec","name":"Light List","server":"86fae200.61af7","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.security_lights","state_type":"str","state_location":"payload.group_light_state","override_payload":"msg","entity_location":"payload.light_list","override_data":"msg","blockInputOverrides":false,"x":800,"y":200,"wires":[["556cfa4d.c17684"]]},{"id":"ff2e685c.10a3c","type":"delay","z":"44e40327.1945ec","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"10","randomUnits":"minutes","drop":false,"x":640,"y":200,"wires":[["854a1fa.f2b35e"]]},{"id":"7e863993.4e1e4","type":"change","z":"44e40327.1945ec","name":"Light to change","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.light_list.attributes.entity_id[$$.payload.randomno]","tot":"jsonata"},{"t":"set","p":"security.light_to_change","pt":"global","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":200,"wires":[["a0cf2109.f18d4"]]},{"id":"a0cf2109.f18d4","type":"api-current-state","z":"44e40327.1945ec","name":"Get Light","server":"86fae200.61af7","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{topic}}","state_type":"str","state_location":"payload.light_to_change_state","override_payload":"msg","entity_location":"payload.light_to_change_data","override_data":"msg","blockInputOverrides":false,"x":1320,"y":200,"wires":[["a28cf007.5089a"]]},{"id":"a28cf007.5089a","type":"ha-get-entities","z":"44e40327.1945ec","server":"86fae200.61af7","name":"Switched On Lights","rules":[{"property":"entity_id","logic":"in_group","value":"group.security_lights","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"array","output_empty_results":true,"output_location_type":"msg","output_location":"payload.switched_on_lights","output_results_count":1,"x":1510,"y":200,"wires":[["b55acd.7b3e753"]]},{"id":"c3e75775.5f10e8","type":"change","z":"44e40327.1945ec","name":"Count Switched On","rules":[{"t":"set","p":"payload.switched_on_count","pt":"msg","to":"$count($$.payload.switched_on_lights)","tot":"jsonata"},{"t":"set","p":"security.switched_on_count","pt":"global","to":"payload.switched_on_count","tot":"msg"},{"t":"set","p":"security.light_to_change_state","pt":"global","to":"payload.light_to_change_state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":420,"wires":[["ab7d2c95.01446"]]},{"id":"ab7d2c95.01446","type":"switch","z":"44e40327.1945ec","name":"Decisions","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$$.payload.switched_on_count < 3 \t  and $$.payload.light_to_change_state = \"off\"","vt":"jsonata"},{"t":"jsonata_exp","v":"$$.payload.switched_on_count > 1 \t  and $$.payload.light_to_change_state = \"on\"","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":360,"y":420,"wires":[["4b12d71d.206df8"],["4b12d71d.206df8"],["47dba30f.cbabfc"]]},{"id":"47dba30f.cbabfc","type":"change","z":"44e40327.1945ec","name":"Failed","rules":[{"t":"set","p":"payload.result","pt":"msg","to":"Failed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":460,"wires":[["253bd5bc.93d37a"]]},{"id":"4b12d71d.206df8","type":"change","z":"44e40327.1945ec","name":"Success","rules":[{"t":"set","p":"payload.result","pt":"msg","to":"Success","tot":"str"},{"t":"set","p":"security.result","pt":"global","to":"payload.result","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":400,"wires":[["2b5e43f4.e0b25c","d102e949.75abd8"]]},{"id":"556cfa4d.c17684","type":"change","z":"44e40327.1945ec","name":"random","rules":[{"t":"set","p":"payload.randomno","pt":"msg","to":"$floor($random()*($count($$.payload.light_list.attributes.entity_id)))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":200,"wires":[["7e863993.4e1e4"]]},{"id":"8a5289e9.f44638","type":"inject","z":"44e40327.1945ec","name":"Debug","topic":"","payload":"{\"initiator\":\"forced\",\"randomno\":2,\"group_light_state\":\"on\",\"light_list\":{\"entity_id\":\"group.security_lights\",\"state\":\"on\",\"attributes\":{\"entity_id\":[\"light.main_light\",\"light.side_light\",\"light.table_light\",\"light.bedroom_light\"],\"order\":1,\"friendly_name\":\"Security Lights\"},\"last_changed\":\"2020-01-02T09:42:02.261706+00:00\",\"last_updated\":\"2020-01-02T09:42:02.261706+00:00\",\"context\":{\"id\":\"6916cc9951174af4a0413a33589e2e10\",\"parent_id\":null,\"user_id\":null},\"timeSinceChangedMs\":3241730}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":120,"wires":[["7e863993.4e1e4"]]},{"id":"1550b3f9.d3b88c","type":"inject","z":"44e40327.1945ec","name":"Debug","topic":"","payload":"{\"initiator\":\"forced\",\"group_light_state\":\"on\",\"light_list\":{\"entity_id\":\"group.security_lights\",\"state\":\"on\",\"attributes\":{\"entity_id\":[\"light.main_light\",\"light.side_light\",\"light.table_light\",\"light.bedroom_light\"],\"order\":1,\"friendly_name\":\"Security Lights\"},\"last_changed\":\"2020-01-02T09:42:02.261706+00:00\",\"last_updated\":\"2020-01-02T09:42:02.261706+00:00\",\"context\":{\"id\":\"6916cc9951174af4a0413a33589e2e10\",\"parent_id\":null,\"user_id\":null},\"timeSinceChangedMs\":3241730}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":810,"y":120,"wires":[["556cfa4d.c17684"]]},{"id":"253bd5bc.93d37a","type":"debug","z":"44e40327.1945ec","name":"Result","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":460,"wires":[]},{"id":"739ffa46.af9114","type":"api-call-service","z":"44e40327.1945ec","name":"Toggle Light","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"","data":"{\"entity_id\":\"{{topic}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":400,"wires":[["253bd5bc.93d37a","7f52186f.90b808"]]},{"id":"ebc03d13.56904","type":"inject","z":"44e40327.1945ec","name":"force","topic":"","payload":"{\"initiator\":\"forced\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":120,"wires":[["854a1fa.f2b35e"]]},{"id":"2b5e43f4.e0b25c","type":"api-current-state","z":"44e40327.1945ec","name":"Not Home?","server":"86fae200.61af7","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.presence_all","state_type":"str","state_location":"payload.home","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":690,"y":400,"wires":[["739ffa46.af9114"],[]]},{"id":"2753c342.2bf1fc","type":"link in","z":"83b3d59c.0b8848","name":"Evening Chill","links":["85fc8433.57f658"],"x":155,"y":100,"wires":[["b9673b39.28dac8"]]},{"id":"95347ece.20011","type":"link in","z":"83b3d59c.0b8848","name":"Evening Movie","links":["3ceb4367.775c6c"],"x":155,"y":300,"wires":[["71b459c8.690758"]]},{"id":"a92b4742.645b38","type":"link in","z":"83b3d59c.0b8848","name":"Normal","links":["f8ea031a.8570d"],"x":155,"y":200,"wires":[["6eca50dc.87cc2"]]},{"id":"eb7ba8a2.7ceac8","type":"link in","z":"83b3d59c.0b8848","name":"Reading","links":["c034fc08.ab879"],"x":155,"y":400,"wires":[["a585162b.4f75e8"]]},{"id":"667fcc53.d0a674","type":"debug","z":"2bf27921.c09716","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1530,"y":340,"wires":[]},{"id":"3504b208.606ace","type":"change","z":"2bf27921.c09716","name":"Set Normal","rules":[{"t":"set","p":"lrlo.scene_normal_turn_on","pt":"global","to":"$now()","tot":"jsonata"},{"t":"set","p":"payload.scene","pt":"msg","to":"Normal","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"input_boolean.scene_normal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":240,"wires":[["f913f262.680ff"]]},{"id":"9f99ba2e.b25a88","type":"change","z":"2bf27921.c09716","name":"Set Evening Chill","rules":[{"t":"set","p":"lrlo.scene_evening_chill_turn_on","pt":"global","to":"$now()","tot":"jsonata"},{"t":"set","p":"payload.scene","pt":"msg","to":"Evening Chill","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"input_boolean.scene_evening_chill","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":340,"wires":[["f913f262.680ff"]]},{"id":"da71e77b.d85c08","type":"change","z":"2bf27921.c09716","name":"Set Low Light","rules":[{"t":"set","p":"lrlo.low_light","pt":"global","to":"$now()","tot":"jsonata"},{"t":"set","p":"payload.scene","pt":"msg","to":"Low Light","tot":"str"},{"t":"set","p":"lrlo.lux","pt":"global","to":"payload.living_room_lux","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"input_boolean.scene_normal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":440,"wires":[["f913f262.680ff"]]},{"id":"7eaf4f1e.520cd","type":"change","z":"2bf27921.c09716","name":"Set High Light","rules":[{"t":"set","p":"lrlo.high_light","pt":"global","to":"$now()","tot":"jsonata"},{"t":"set","p":"payload.scene","pt":"msg","to":"High Light","tot":"str"},{"t":"set","p":"lrlo.lux","pt":"global","to":"payload.living_room_lux","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":500,"wires":[["667fcc53.d0a674"]]},{"id":"58560fed.40393","type":"switch","z":"83b3d59c.0b8848","name":"Switch off?","property":"topic","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":300,"wires":[["b3dc6f4d.93a2f"]]},{"id":"b9673b39.28dac8","type":"change","z":"83b3d59c.0b8848","name":"Evening Chill","rules":[{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"initiator\":\"temp\"}","tot":"json"},{"t":"set","p":"payload.initiator","pt":"msg","to":"temp","tot":"msg"},{"t":"set","p":"temp","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.scene_name","pt":"msg","to":"Evening Chill","tot":"str"},{"t":"set","p":"payload.power_switch","pt":"msg","to":"switch.living_room_s2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":120,"wires":[["b20861e8.120f4"]]},{"id":"f78ee986.24c3a8","type":"debug","z":"83b3d59c.0b8848","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1310,"y":300,"wires":[]},{"id":"f913f262.680ff","type":"api-call-service","z":"2bf27921.c09716","name":"Turn On","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"","data":"{\"entity_id\":\"{{topic}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1380,"y":340,"wires":[["667fcc53.d0a674","1efb3817.25dae8"]]},{"id":"9f31a87f.fa0308","type":"debug","z":"83b3d59c.0b8848","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":80,"wires":[]},{"id":"71b459c8.690758","type":"change","z":"83b3d59c.0b8848","name":"Evening Movie","rules":[{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"initiator\":\"temp\"}","tot":"json"},{"t":"set","p":"payload.initiator","pt":"msg","to":"temp","tot":"msg"},{"t":"set","p":"temp","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.scene_name","pt":"msg","to":"Evening Movie","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":340,"wires":[["13b79dc.3b88e62"]]},{"id":"6eca50dc.87cc2","type":"change","z":"83b3d59c.0b8848","name":"Normal","rules":[{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"initiator\":\"temp\"}","tot":"json"},{"t":"set","p":"payload.initiator","pt":"msg","to":"temp","tot":"msg"},{"t":"set","p":"temp","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.scene_name","pt":"msg","to":"Normal","tot":"str"},{"t":"set","p":"payload.power_switch","pt":"msg","to":"switch.living_room_s1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":240,"wires":[["b20861e8.120f4"]]},{"id":"a585162b.4f75e8","type":"change","z":"83b3d59c.0b8848","name":"Reading","rules":[{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"initiator\":\"temp\"}","tot":"json"},{"t":"set","p":"payload.initiator","pt":"msg","to":"temp","tot":"msg"},{"t":"set","p":"temp","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.scene_name","pt":"msg","to":"Reading","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":440,"wires":[["13b79dc.3b88e62"]]},{"id":"ba67a200.a883d","type":"api-call-service","z":"cee05142.c172e8","name":"Send to HA","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"persistent_notification","service":"create","entityId":"","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":120,"wires":[["9a48a7f7.0d25b8","a4f1ecd.9cd031"]]},{"id":"9abe5e20.7d85c","type":"api-call-service","z":"cee05142.c172e8","name":"Send to iOS","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"notify","service":"all_ios_devices","entityId":"","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":180,"wires":[[]]},{"id":"569d46cc.b6a708","type":"change","z":"cee05142.c172e8","name":"Down","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"Home Assistant\",\"message\":\"Philips Hue down\"}","tot":"json"},{"t":"set","p":"hue.state","pt":"global","to":"error","tot":"str"},{"t":"set","p":"hue.payload","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":120,"wires":[["9abe5e20.7d85c","97c61478.b42a88"]]},{"id":"9a48a7f7.0d25b8","type":"debug","z":"cee05142.c172e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":180,"wires":[]},{"id":"2ee3c5fe.2b071a","type":"change","z":"cee05142.c172e8","name":"Up","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"Home Assistant\",\"message\":\"Philips Hue up\"}","tot":"json"},{"t":"set","p":"hue.state","pt":"global","to":"ok","tot":"str"},{"t":"set","p":"hue.payload","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":240,"wires":[["9abe5e20.7d85c","7758e5aa.704ffc"]]},{"id":"97c61478.b42a88","type":"change","z":"cee05142.c172e8","name":"Hue","rules":[{"t":"set","p":"payload.notification_id","pt":"msg","to":"hue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":120,"wires":[["ba67a200.a883d"]]},{"id":"7758e5aa.704ffc","type":"change","z":"cee05142.c172e8","name":"Hue","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"notification_id\":\"hue\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":240,"wires":[["d0fa8564.6faed8"]]},{"id":"d0fa8564.6faed8","type":"api-call-service","z":"cee05142.c172e8","name":"Dismiss to HA","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"persistent_notification","service":"dismiss","entityId":"","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":240,"wires":[["9a48a7f7.0d25b8","30057706.abd698"]]},{"id":"dc17cbc5.e26998","type":"server-state-changed","z":"e3330cd1.4ad86","name":"Location Mode","server":"86fae200.61af7","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.location_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":1160,"wires":[["962d01b4.88a6f"]]},{"id":"f2c2f8dd.65b928","type":"api-call-service","z":"e3330cd1.4ad86","name":"Turn off","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"","data":"{\"entity_id\":\"{{topic}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":980,"y":1160,"wires":[["892bff07.06756"]]},{"id":"ce4a9ff3.3023","type":"inject","z":"e3330cd1.4ad86","name":"Away","topic":"","payload":"Away","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1120,"wires":[["962d01b4.88a6f"]]},{"id":"962d01b4.88a6f","type":"switch","z":"e3330cd1.4ad86","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Away","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":1160,"wires":[["777407a2.ec8b98"],[]]},{"id":"777407a2.ec8b98","type":"time-range-switch","z":"e3330cd1.4ad86","name":"","lat":"51.33186","lon":"-1.04849","startTime":"sunriseEnd","endTime":"sunsetStart","startOffset":0,"endOffset":0,"x":470,"y":1160,"wires":[["fbf9ac50.89b9b"],[]]},{"id":"37888b06.2ae674","type":"inject","z":"e3330cd1.4ad86","name":"off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["1e0b522b.a83f6e"]]},{"id":"41a4eedc.c37b9","type":"inject","z":"e3330cd1.4ad86","name":"1am","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"00 01 * * *","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["1e0b522b.a83f6e"]]},{"id":"408cc364.cfc83c","type":"switch","z":"cee05142.c172e8","name":"Marked Down?","property":"hue.state","propertyType":"global","rules":[{"t":"eq","v":"error","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":240,"wires":[["2ee3c5fe.2b071a"],[]]},{"id":"8ddee8b2.a70848","type":"switch","z":"cee05142.c172e8","name":"Already down?","property":"hue.state","propertyType":"global","rules":[{"t":"eq","v":"error","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":120,"wires":[[],["569d46cc.b6a708"]]},{"id":"36441e76.d864f2","type":"switch","z":"cee05142.c172e8","name":"Failed","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":180,"wires":[["8ddee8b2.a70848"],["408cc364.cfc83c"]]},{"id":"9edf6a5.a1dfd98","type":"server-events","z":"83b3d59c.0b8848","name":"","server":"86fae200.61af7","event_type":"ios.action_fired","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":120,"y":740,"wires":[["b856388a.bae898"]]},{"id":"b856388a.bae898","type":"switch","z":"83b3d59c.0b8848","name":"What Action?","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"evening_chill","vt":"str"},{"t":"eq","v":"evening_movie","vt":"str"},{"t":"eq","v":"normal","vt":"str"},{"t":"eq","v":"reading","vt":"str"},{"t":"eq","v":"evening","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":350,"y":740,"wires":[["7b6ea0f3.f0ea1"],["7b6ea0f3.f0ea1"],["7b6ea0f3.f0ea1"],["7b6ea0f3.f0ea1"],["dfbfeaf.86d1e18"],[]]},{"id":"7cad5685.cf7598","type":"api-call-service","z":"83b3d59c.0b8848","name":"Turn On","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"","data":"{\"entity_id\":\"{{topic}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":720,"wires":[["758a4678.e1e8f8"]]},{"id":"7b6ea0f3.f0ea1","type":"change","z":"83b3d59c.0b8848","name":"Set Scene","rules":[{"t":"set","p":"topic","pt":"msg","to":"'input_boolean.scene_' & $$.payload.event.actionName","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":720,"wires":[["7cad5685.cf7598","1277191f.8e4cb7"]]},{"id":"758a4678.e1e8f8","type":"debug","z":"83b3d59c.0b8848","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":720,"wires":[]},{"id":"dfbfeaf.86d1e18","type":"api-call-service","z":"83b3d59c.0b8848","name":"Evening Time","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.location_mode","data":"{\"option\":\"Evening Time\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":820,"wires":[["48287ce3.faddcc"]]},{"id":"d102e949.75abd8","type":"change","z":"44e40327.1945ec","name":"When Changed","rules":[{"t":"set","p":"security.when_changed","pt":"global","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":360,"wires":[[]]},{"id":"d00a2ef6.ed692","type":"change","z":"44e40327.1945ec","name":"When Checked","rules":[{"t":"set","p":"security.when_checked","pt":"global","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":140,"wires":[[]]},{"id":"18d8a42c.d7a67c","type":"api-call-service","z":"9573fbce.d39958","name":"Log","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"system_log","service":"write","entityId":"","data":"{\"message\":\"{{log.message}}\",\"level\":\"debug\",\"logger\":\"NodeRed\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":220,"wires":[[]]},{"id":"7f717e3f.49fa4","type":"link in","z":"9573fbce.d39958","name":"Log","links":["4875b9ef.b43838","6c7cfc7.e8e4604","6dfd007a.c25d2","7dca670f.0085d8","9379536e.15647","ae20fabe.a27c68","ba33b2f4.b403d","cd411d4a.40f12","d139b2b7.d5fb5","efb05ea5.0e713","486df279.17da2c","1bad0b98.0d7b44","6c670b2a.531f94","84eefd0b.920ea","2ac2653a.e0315a","e37b4db9.07b3f","b5481706.a33978","7c19f4a9.0028bc","8cbd826b.835b1"],"x":215,"y":220,"wires":[["1300cb6d.fa0705"]]},{"id":"6dfd007a.c25d2","type":"link out","z":"83b3d59c.0b8848","name":"Change Scene","links":["7f717e3f.49fa4"],"x":895,"y":240,"wires":[]},{"id":"90c74cd3.9949","type":"change","z":"83b3d59c.0b8848","name":"Set log item","rules":[{"t":"set","p":"log.item","pt":"msg","to":"payload.scene_name","tot":"msg"},{"t":"set","p":"log.action","pt":"msg","to":"has been turned on by Button","tot":"str"},{"t":"set","p":"log.type","pt":"msg","to":"Scene","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":240,"wires":[["6dfd007a.c25d2"]]},{"id":"1efb3817.25dae8","type":"change","z":"2bf27921.c09716","name":"Set log item","rules":[{"t":"set","p":"log.item","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"log.action","pt":"msg","to":"has been turned on by Motion","tot":"str"},{"t":"set","p":"log.type","pt":"msg","to":"Button","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":280,"wires":[["6c7cfc7.e8e4604"]]},{"id":"6c7cfc7.e8e4604","type":"link out","z":"2bf27921.c09716","name":"Turn On","links":["7f717e3f.49fa4"],"x":1675,"y":280,"wires":[]},{"id":"31c1b411.b416ac","type":"inject","z":"2bf27921.c09716","name":"","topic":"","payload":"Force","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":160,"wires":[["3504b208.606ace"]]},{"id":"1277191f.8e4cb7","type":"change","z":"83b3d59c.0b8848","name":"Set log item","rules":[{"t":"set","p":"log.item","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"log.action","pt":"msg","to":"has been turned on by iOS","tot":"str"},{"t":"set","p":"log.type","pt":"msg","to":"Button","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":780,"wires":[["ae20fabe.a27c68"]]},{"id":"ae20fabe.a27c68","type":"link out","z":"83b3d59c.0b8848","name":"iOS Action","links":["7f717e3f.49fa4"],"x":875,"y":800,"wires":[]},{"id":"892bff07.06756","type":"change","z":"e3330cd1.4ad86","name":"Set log item","rules":[{"t":"set","p":"log.item","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"log.action","pt":"msg","to":"has been turned off by SHM (Location Mode)","tot":"str"},{"t":"set","p":"log.type","pt":"msg","to":"Light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1160,"wires":[["efb05ea5.0e713"]]},{"id":"efb05ea5.0e713","type":"link out","z":"e3330cd1.4ad86","name":"Lights","links":["7f717e3f.49fa4"],"x":1275,"y":1160,"wires":[]},{"id":"fbf9ac50.89b9b","type":"change","z":"e3330cd1.4ad86","name":"All Lights","rules":[{"t":"set","p":"topic","pt":"msg","to":"light.house","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1160,"wires":[["93e87b8d.38d18"]]},{"id":"cd411d4a.40f12","type":"link out","z":"e3330cd1.4ad86","name":"Location Mode","links":["7f717e3f.49fa4"],"x":2115,"y":620,"wires":[]},{"id":"147dbbd.df0f144","type":"change","z":"e3330cd1.4ad86","name":"Good Morning!","rules":[{"t":"set","p":"topic","pt":"msg","to":"Home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":420,"wires":[["f1fcc2b0.f8bed"]]},{"id":"2a760f16.2defe","type":"inject","z":"e3330cd1.4ad86","name":"","topic":"force","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":380,"wires":[["147dbbd.df0f144"]]},{"id":"12a10cc1.7712c3","type":"change","z":"e3330cd1.4ad86","name":"Good Night!","rules":[{"t":"set","p":"topic","pt":"msg","to":"Night","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":580,"wires":[["f1fcc2b0.f8bed"]]},{"id":"1bad0360.50b04d","type":"change","z":"e3330cd1.4ad86","name":"I'm Back!","rules":[{"t":"set","p":"topic","pt":"msg","to":"Home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":900,"wires":[["29aec4dc.71446c"]]},{"id":"d6baa6e4.0b0528","type":"change","z":"e3330cd1.4ad86","name":"Good Bye!","rules":[{"t":"set","p":"topic","pt":"msg","to":"Away","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":740,"wires":[["29aec4dc.71446c"]]},{"id":"7f52186f.90b808","type":"change","z":"44e40327.1945ec","name":"Set log item","rules":[{"t":"set","p":"log.item","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"log.action","pt":"msg","to":"has been toggled by Burglar - Random","tot":"str"},{"t":"set","p":"log.type","pt":"msg","to":"Light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":400,"wires":[["7dca670f.0085d8"]]},{"id":"7dca670f.0085d8","type":"link out","z":"44e40327.1945ec","name":"Security","links":["7f717e3f.49fa4"],"x":1695,"y":400,"wires":[]},{"id":"f8acb3a1.8f12a","type":"change","z":"a43b6178.2b6c1","name":"Set log item","rules":[{"t":"set","p":"log.item","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"log.action","pt":"msg","to":"has been turned on by Tidy Up","tot":"str"},{"t":"set","p":"log.type","pt":"msg","to":"Switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":120,"wires":[["9379536e.15647"]]},{"id":"9379536e.15647","type":"link out","z":"a43b6178.2b6c1","name":"Power Switch","links":["7f717e3f.49fa4"],"x":975,"y":120,"wires":[]},{"id":"43615acd.25e694","type":"change","z":"a43b6178.2b6c1","name":"Set log item","rules":[{"t":"set","p":"log.item","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"log.action","pt":"msg","to":"has been turned off by Tidy Up","tot":"str"},{"t":"set","p":"log.type","pt":"msg","to":"Light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":300,"wires":[["d139b2b7.d5fb5"]]},{"id":"d139b2b7.d5fb5","type":"link out","z":"a43b6178.2b6c1","name":"Light","links":["7f717e3f.49fa4"],"x":1515,"y":300,"wires":[]},{"id":"8c23cb27.580b08","type":"change","z":"a43b6178.2b6c1","name":"Main Light","rules":[{"t":"set","p":"topic","pt":"msg","to":"light.main_light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":200,"wires":[["c6b0d054.8a107"]]},{"id":"a06eb0c5.3ad9e","type":"change","z":"a43b6178.2b6c1","name":"Side Light","rules":[{"t":"set","p":"topic","pt":"msg","to":"light.side_light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":280,"wires":[["c6b0d054.8a107"]]},{"id":"1300cb6d.fa0705","type":"change","z":"9573fbce.d39958","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"log.message","pt":"msg","to":"$$.log.type & ' - ' & $$.log.item & ' - ' & $$.log.action","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":220,"wires":[["18d8a42c.d7a67c","9e0d5dc.9ac74a","53090420.250f6c"]]},{"id":"1bf4266.a40485a","type":"inject","z":"e3330cd1.4ad86","name":"","topic":"","payload":"force","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":640,"wires":[["12a10cc1.7712c3"]]},{"id":"540f5d59.78f854","type":"time-range-switch","z":"2bf27921.c09716","name":"","lat":"51.33186","lon":"-1.04849","startTime":"01:00","endTime":"06:00","startOffset":0,"endOffset":0,"x":670,"y":960,"wires":[["ed2b1abf.3079b8"],[]]},{"id":"bb5e1729.2546c8","type":"time-range-switch","z":"2bf27921.c09716","name":"","lat":"51.33186","lon":"-1.04849","startTime":"22:00","endTime":"01:00","startOffset":0,"endOffset":0,"x":670,"y":900,"wires":[["c8f55e19.91fae"],[]]},{"id":"7f065321.2fd74c","type":"time-range-switch","z":"2bf27921.c09716","name":"","lat":"51.33186","lon":"-1.04849","startTime":"06:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":670,"y":1020,"wires":[["ac12699.b172198"],[]]},{"id":"c8f55e19.91fae","type":"api-current-state","z":"2bf27921.c09716","name":"Location Mode","server":"86fae200.61af7","version":1,"outputs":2,"halt_if":"[\"Home\",\"Night\"]","halt_if_type":"jsonata","halt_if_compare":"includes","override_topic":false,"entity_id":"input_select.location_mode","state_type":"str","state_location":"location_mode","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":900,"y":900,"wires":[["abb406f4.f59a78"],[]]},{"id":"1911975e.ac71b9","type":"api-call-service","z":"2bf27921.c09716","name":"Turn off lights","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.living_room","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1260,"y":960,"wires":[["295e2511.95082a"]]},{"id":"abb406f4.f59a78","type":"change","z":"2bf27921.c09716","name":"Set Early","rules":[{"t":"set","p":"lrlo.early_night_turn_off","pt":"global","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":900,"wires":[["1911975e.ac71b9"]]},{"id":"ed2b1abf.3079b8","type":"change","z":"2bf27921.c09716","name":"Set Late","rules":[{"t":"set","p":"lrlo.late_night_turn_off","pt":"global","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":960,"wires":[["1911975e.ac71b9"]]},{"id":"ac12699.b172198","type":"change","z":"2bf27921.c09716","name":"Set Day","rules":[{"t":"set","p":"lrlo.daytime_turn_off","pt":"global","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1020,"wires":[["1911975e.ac71b9"]]},{"id":"846e94c7.854788","type":"api-current-state","z":"2bf27921.c09716","name":"Lights On?","server":"86fae200.61af7","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.living_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":true,"x":490,"y":960,"wires":[["540f5d59.78f854","bb5e1729.2546c8","7f065321.2fd74c"],[]]},{"id":"a96fbc8b.98ef5","type":"debug","z":"2bf27921.c09716","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":900,"wires":[]},{"id":"295e2511.95082a","type":"change","z":"2bf27921.c09716","name":"Set log item","rules":[{"t":"set","p":"log.item","pt":"msg","to":"light.living_room","tot":"str"},{"t":"set","p":"log.action","pt":"msg","to":"has been turned off by Timer","tot":"str"},{"t":"set","p":"log.type","pt":"msg","to":"Light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":960,"wires":[["ba33b2f4.b403d"]]},{"id":"ba33b2f4.b403d","type":"link out","z":"2bf27921.c09716","name":"Turn Off","links":["7f717e3f.49fa4"],"x":1575,"y":960,"wires":[]},{"id":"61041fe5.727f1","type":"inject","z":"2bf27921.c09716","name":"","topic":"","payload":"force","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1090,"y":860,"wires":[["1911975e.ac71b9"]]},{"id":"4875b9ef.b43838","type":"link out","z":"83b3d59c.0b8848","name":"Change Scene","links":["7f717e3f.49fa4"],"x":795,"y":600,"wires":[]},{"id":"e2834ec9.ff942","type":"change","z":"83b3d59c.0b8848","name":"Set log item","rules":[{"t":"set","p":"log.item","pt":"msg","to":"Flash Benjamin","tot":"str"},{"t":"set","p":"log.action","pt":"msg","to":"has been turned on by Button","tot":"str"},{"t":"set","p":"log.type","pt":"msg","to":"Light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":600,"wires":[["4875b9ef.b43838"]]},{"id":"72c75a69.fda914","type":"link in","z":"44e40327.1945ec","name":"A2","links":["b55acd.7b3e753"],"x":35,"y":420,"wires":[["c3e75775.5f10e8"]]},{"id":"42425c37.dda714","type":"comment","z":"44e40327.1945ec","name":"A","info":"","x":70,"y":480,"wires":[]},{"id":"b55acd.7b3e753","type":"link out","z":"44e40327.1945ec","name":"A1","links":["72c75a69.fda914"],"x":1695,"y":200,"wires":[]},{"id":"b0f7cf8e.97337","type":"comment","z":"44e40327.1945ec","name":"A","info":"","x":1730,"y":240,"wires":[]},{"id":"9e0d5dc.9ac74a","type":"api-call-service","z":"9573fbce.d39958","name":"","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"notify","service":"noderedlog","entityId":"","data":"{\"message\":\",{{log.message}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":280,"wires":[[]]},{"id":"99d41c3e.ff691","type":"change","z":"9573fbce.d39958","name":"Set log item","rules":[{"t":"set","p":"log.item","pt":"msg","to":"Test Item","tot":"str"},{"t":"set","p":"log.action","pt":"msg","to":"test action","tot":"str"},{"t":"set","p":"log.type","pt":"msg","to":"Test Type","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":160,"wires":[["1300cb6d.fa0705"]]},{"id":"ef028c81.65724","type":"inject","z":"9573fbce.d39958","name":"","topic":"","payload":"force","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["99d41c3e.ff691"]]},{"id":"53090420.250f6c","type":"debug","z":"9573fbce.d39958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":160,"wires":[]},{"id":"48287ce3.faddcc","type":"change","z":"83b3d59c.0b8848","name":"Set log item","rules":[{"t":"set","p":"log.item","pt":"msg","to":"Evening Time","tot":"str"},{"t":"set","p":"log.action","pt":"msg","to":"has been turned on by iOS","tot":"str"},{"t":"set","p":"log.type","pt":"msg","to":"Location Mode","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":820,"wires":[["ae20fabe.a27c68"]]},{"id":"1bad0b98.0d7b44","type":"link out","z":"cee05142.c172e8","name":"Security","links":["7f717e3f.49fa4"],"x":1275,"y":180,"wires":[]},{"id":"a4f1ecd.9cd031","type":"change","z":"cee05142.c172e8","name":"Set log item","rules":[{"t":"set","p":"log.item","pt":"msg","to":"Hue Hub","tot":"str"},{"t":"set","p":"log.action","pt":"msg","to":"has gone offline","tot":"str"},{"t":"set","p":"log.type","pt":"msg","to":"Component","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":120,"wires":[["1bad0b98.0d7b44"]]},{"id":"30057706.abd698","type":"change","z":"cee05142.c172e8","name":"Set log item","rules":[{"t":"set","p":"log.item","pt":"msg","to":"Hue Hub","tot":"str"},{"t":"set","p":"log.action","pt":"msg","to":"has come back online","tot":"str"},{"t":"set","p":"log.type","pt":"msg","to":"Component","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":240,"wires":[["1bad0b98.0d7b44"]]},{"id":"5e91dcb8.c4d3a4","type":"change","z":"e3330cd1.4ad86","name":"Set log item","rules":[{"t":"set","p":"log.item","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"log.action","pt":"msg","to":"has been turned on by SHM (Motion)","tot":"str"},{"t":"set","p":"log.type","pt":"msg","to":"Location Mode","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":580,"wires":[["894bf7b6.0943e8"]]},{"id":"29aec4dc.71446c","type":"change","z":"e3330cd1.4ad86","name":"Set log item","rules":[{"t":"set","p":"log.item","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"log.action","pt":"msg","to":"has been turned on by SHM (Presence)","tot":"str"},{"t":"set","p":"log.type","pt":"msg","to":"Location Mode","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":660,"wires":[["894bf7b6.0943e8"]]},{"id":"f1fcc2b0.f8bed","type":"api-current-state","z":"e3330cd1.4ad86","name":"Location Mode","server":"86fae200.61af7","version":1,"outputs":2,"halt_if":"[\"Away\"]","halt_if_type":"jsonata","halt_if_compare":"does_not_include","override_topic":false,"entity_id":"input_select.location_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1300,"y":480,"wires":[["5e91dcb8.c4d3a4"],[]]},{"id":"fb27a67f.51d7d8","type":"server-state-changed","z":"cee05142.c172e8","name":"Hue status","server":"86fae200.61af7","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.hue","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":140,"y":180,"wires":[["36441e76.d864f2"]]},{"id":"96419b7b.f77978","type":"debug","z":"2bf27921.c09716","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":520,"wires":[]},{"id":"3fef73b7.28265c","type":"change","z":"2bf27921.c09716","name":"Stash Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"initiator\":\"motion\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":240,"wires":[["c5b353d0.8b929","538f0757.1800b8"]]},{"id":"8f7467c.9b72098","type":"mqtt in","z":"b56c7f40.a7397","name":"","topic":"monitor/#","qos":"2","datatype":"auto","broker":"a502fb56.a9f708","x":140,"y":480,"wires":[["3b989549.6a574a","41209d27.09ba54"]]},{"id":"cd7f3e07.8f445","type":"debug","z":"b56c7f40.a7397","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":420,"wires":[]},{"id":"a77f0ac6.46a188","type":"inject","z":"b56c7f40.a7397","name":"force","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["9c076bec.72cc98"]]},{"id":"9c076bec.72cc98","type":"mqtt out","z":"b56c7f40.a7397","name":"Current state","topic":"monitor/KNOWN DEVICE STATES","qos":"2","retain":"","broker":"be947080.2e5","x":330,"y":100,"wires":[]},{"id":"a28c8eca.e804d","type":"inject","z":"b56c7f40.a7397","name":"mac address","topic":"","payload":"E5:6F:63:93:A4:FA Nest Protect 1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["6fa80f53.1e58d"]]},{"id":"6fa80f53.1e58d","type":"mqtt out","z":"b56c7f40.a7397","name":"Add device","topic":"monitor/setup/ADD STATIC DEVICE","qos":"2","retain":"","broker":"be947080.2e5","x":330,"y":180,"wires":[]},{"id":"dc777811.865a28","type":"inject","z":"b56c7f40.a7397","name":"mac address","topic":"","payload":"A8:BE:27:C2:56:1B","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["33198afe.c566e6"]]},{"id":"33198afe.c566e6","type":"mqtt out","z":"b56c7f40.a7397","name":"Delete device","topic":"monitor/setup/DELETE STATIC DEVICE","qos":"2","retain":"","broker":"be947080.2e5","x":340,"y":260,"wires":[]},{"id":"f2ecb4af.b265e","type":"file","z":"b56c7f40.a7397","name":"","filename":"/share/known.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1250,"y":460,"wires":[[]]},{"id":"9b4f15d4.90a728","type":"json","z":"b56c7f40.a7397","name":"","property":"payload","action":"","pretty":false,"x":410,"y":480,"wires":[["cd7f3e07.8f445","7d89e86.a874718"]]},{"id":"3b989549.6a574a","type":"switch","z":"b56c7f40.a7397","name":"","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"json","vt":"json"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":480,"wires":[["9b4f15d4.90a728"],["76be14cc.c2073c"]]},{"id":"76be14cc.c2073c","type":"debug","z":"b56c7f40.a7397","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":540,"wires":[]},{"id":"7d89e86.a874718","type":"switch","z":"b56c7f40.a7397","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$$.payload = -99","vt":"jsonata"},{"t":"eq","v":"KNOWN_MAC","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":550,"y":480,"wires":[["627c0cc1.f16834"],["f08fa57d.4d47d8"],["c4a49b2c.dafad8"]]},{"id":"f8bdfc95.94f3e","type":"file","z":"b56c7f40.a7397","name":"","filename":"/share/unknown.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1160,"y":520,"wires":[["e000d04f.8d297"]]},{"id":"e000d04f.8d297","type":"debug","z":"b56c7f40.a7397","name":"Unknown","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1360,"y":520,"wires":[]},{"id":"627c0cc1.f16834","type":"debug","z":"b56c7f40.a7397","name":"-99","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":400,"wires":[]},{"id":"41209d27.09ba54","type":"debug","z":"b56c7f40.a7397","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":280,"y":420,"wires":[]},{"id":"c4a49b2c.dafad8","type":"change","z":"b56c7f40.a7397","name":"","rules":[{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"topic\":\"stash\"}","tot":"json"},{"t":"set","p":"payload.topic","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"payload.payload","pt":"msg","to":"temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":500,"wires":[["51b120d1.c51f7"]]},{"id":"f08fa57d.4d47d8","type":"change","z":"b56c7f40.a7397","name":"","rules":[{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"topic\":\"stash\"}","tot":"json"},{"t":"set","p":"payload.topic","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"payload.payload","pt":"msg","to":"temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":460,"wires":[["f2ecb4af.b265e"]]},{"id":"51b120d1.c51f7","type":"switch","z":"b56c7f40.a7397","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":":","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":520,"wires":[["f8bdfc95.94f3e"],["f2ecb4af.b265e"]]},{"id":"db186e4c.421d58","type":"time-range-switch","z":"44e40327.1945ec","name":"","lat":"51.33186","lon":"-1.04849","startTime":"23:30","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":450,"y":280,"wires":[["18eec9de.79df16"],[]]},{"id":"d563e17b.a35638","type":"delay","z":"44e40327.1945ec","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"10","randomUnits":"minutes","drop":false,"x":860,"y":280,"wires":[["c58b9796.64b7e8"]]},{"id":"ecfc8952.517c5","type":"api-call-service","z":"44e40327.1945ec","name":"Turn Off","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"","data":"{\"entity_id\":\"{{topic}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1400,"y":280,"wires":[["d6e9bb78.04a0d8"]]},{"id":"d6e9bb78.04a0d8","type":"change","z":"44e40327.1945ec","name":"Set log item","rules":[{"t":"set","p":"log.item","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"log.action","pt":"msg","to":"has been turned off by Burglar - Random","tot":"str"},{"t":"set","p":"log.type","pt":"msg","to":"Light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":280,"wires":[["7dca670f.0085d8"]]},{"id":"c58b9796.64b7e8","type":"change","z":"44e40327.1945ec","name":"Light to change","rules":[{"t":"set","p":"topic","pt":"msg","to":"group.security_lights","tot":"str"},{"t":"set","p":"security.light_to_change","pt":"global","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":280,"wires":[["8359013d.81e8b8"]]},{"id":"18eec9de.79df16","type":"api-current-state","z":"44e40327.1945ec","name":"Security Lights On?","server":"86fae200.61af7","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.security_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":670,"y":280,"wires":[["d563e17b.a35638"],[]]},{"id":"8359013d.81e8b8","type":"api-current-state","z":"44e40327.1945ec","name":"Not Home?","server":"86fae200.61af7","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.presence_all","state_type":"str","state_location":"payload.home","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1230,"y":280,"wires":[["ecfc8952.517c5"],[]]},{"id":"f40bf959.8f4b48","type":"inject","z":"26d43138.aa613e","name":"3am","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":0.1,"x":90,"y":120,"wires":[["e444fdcf.99d69"]]},{"id":"b2340f56.c7c58","type":"api-call-service","z":"26d43138.aa613e","name":"Take Snapshot","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"hassio","service":"snapshot_full","entityId":"","data":"{\"name\":\"{{topic}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":80,"wires":[["14cf38e4.665097"]]},{"id":"e444fdcf.99d69","type":"change","z":"26d43138.aa613e","name":"Snapshot Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"'Hassio (' & $now('[Y01].[M01].[D01] [H01]:[m01]:[s01]') &')'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":120,"wires":[["4f482db9.e3fea4","b2340f56.c7c58"]]},{"id":"4f482db9.e3fea4","type":"delay","z":"26d43138.aa613e","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":160,"wires":[["37e2ca82.729996"]]},{"id":"37e2ca82.729996","type":"api-call-service","z":"26d43138.aa613e","name":"Dropbox Sync","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"hassio","service":"addon_stdin","entityId":"","data":"{\"addon\":\"7be23ff5_dropbox_sync\",\"input\":{\"command\":\"upload\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":160,"wires":[["f131c25f.badf7"]]},{"id":"f131c25f.badf7","type":"change","z":"26d43138.aa613e","name":"Set log item","rules":[{"t":"set","p":"log.item","pt":"msg","to":"Dropbox Sync","tot":"str"},{"t":"set","p":"log.action","pt":"msg","to":"has been initiated","tot":"str"},{"t":"set","p":"log.type","pt":"msg","to":"Hassio Add-on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":160,"wires":[["6c670b2a.531f94"]]},{"id":"6c670b2a.531f94","type":"link out","z":"26d43138.aa613e","name":"Security","links":["7f717e3f.49fa4"],"x":935,"y":120,"wires":[]},{"id":"14cf38e4.665097","type":"change","z":"26d43138.aa613e","name":"Set log item","rules":[{"t":"set","p":"log.item","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"log.action","pt":"msg","to":"has been initiated","tot":"str"},{"t":"set","p":"log.type","pt":"msg","to":"Hassio Snapshot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":80,"wires":[["6c670b2a.531f94"]]},{"id":"2162d144.d335fe","type":"inject","z":"26d43138.aa613e","name":"Midnight","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":100,"y":300,"wires":[["5bea7e73.5a82c"]]},{"id":"5bea7e73.5a82c","type":"api-call-service","z":"26d43138.aa613e","name":"Let's Encrypt Renewal","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"hassio","service":"addon_restart","entityId":"","data":"{\"addon\":\"core_letsencrypt\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":300,"y":300,"wires":[["40658aca.f9de24"]]},{"id":"40658aca.f9de24","type":"change","z":"26d43138.aa613e","name":"Set log item","rules":[{"t":"set","p":"log.item","pt":"msg","to":"Lets Encrypt","tot":"str"},{"t":"set","p":"log.action","pt":"msg","to":"has been initiated","tot":"str"},{"t":"set","p":"log.type","pt":"msg","to":"Hassio Add-on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":300,"wires":[["84eefd0b.920ea"]]},{"id":"84eefd0b.920ea","type":"link out","z":"26d43138.aa613e","name":"Security","links":["7f717e3f.49fa4"],"x":635,"y":300,"wires":[]},{"id":"5f3392b7.4268f4","type":"server-events","z":"cee05142.c172e8","name":"Hue error","server":"86fae200.61af7","event_type":"homeassistant.components.hue.light","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":140,"y":120,"wires":[["8ddee8b2.a70848"]]},{"id":"93e87b8d.38d18","type":"api-current-state","z":"e3330cd1.4ad86","name":"Is on?","server":"86fae200.61af7","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{topic}}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":830,"y":1160,"wires":[["f2c2f8dd.65b928"],[]]},{"id":"d65dae99.c8e6f","type":"inject","z":"e3330cd1.4ad86","name":"10pm","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["1e0b522b.a83f6e"]]},{"id":"b20861e8.120f4","type":"api-current-state","z":"83b3d59c.0b8848","name":"S1 State","server":"86fae200.61af7","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{payload.power_switch}}","state_type":"str","state_location":"payload.switch_state","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":180,"wires":[["392f6785.7f4988","9f31a87f.fa0308"],["47d0f7cb.da5398"]]},{"id":"392f6785.7f4988","type":"api-call-service","z":"83b3d59c.0b8848","name":"Turn On","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"","data":"{\"entity_id\":\"{{payload.power_switch}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":120,"wires":[["47d0f7cb.da5398","a96d0217.041d9"]]},{"id":"47d0f7cb.da5398","type":"link out","z":"83b3d59c.0b8848","name":"A1","links":["fd8e4b79.ef68e8"],"x":930,"y":180,"wires":[],"l":true},{"id":"fd8e4b79.ef68e8","type":"link in","z":"83b3d59c.0b8848","name":"A2","links":["47d0f7cb.da5398"],"x":410,"y":300,"wires":[["13b79dc.3b88e62"]],"l":true},{"id":"2ac2653a.e0315a","type":"link out","z":"83b3d59c.0b8848","name":"Change Scene","links":["7f717e3f.49fa4"],"x":1055,"y":120,"wires":[]},{"id":"a96d0217.041d9","type":"change","z":"83b3d59c.0b8848","name":"Set log item","rules":[{"t":"set","p":"log.item","pt":"msg","to":"payload.power_switch","tot":"msg"},{"t":"set","p":"log.action","pt":"msg","to":"has been turned on by Button","tot":"str"},{"t":"set","p":"log.type","pt":"msg","to":"Switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":120,"wires":[["2ac2653a.e0315a"]]},{"id":"bc3d6222.9f4908","type":"inject","z":"83b3d59c.0b8848","name":"force","topic":"input_boolean.scene_evening_chill","payload":"forced","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":200,"wires":[["6eca50dc.87cc2"]]},{"id":"97efb78b.e59758","type":"time-range-switch","z":"e3330cd1.4ad86","name":"","lat":"51.33186","lon":"-1.04849","startTime":"12:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":670,"y":480,"wires":[["d5c07bd3.31b868"],[]]},{"id":"d5c07bd3.31b868","type":"change","z":"e3330cd1.4ad86","name":"Good Afternoon!","rules":[{"t":"set","p":"topic","pt":"msg","to":"Home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":480,"wires":[["f1fcc2b0.f8bed"]]},{"id":"686bae9e.92d7f","type":"api-call-service","z":"2bf27921.c09716","name":"Timer Cancel","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"timer","service":"cancel","entityId":" ","data":"{\"entity_id\":\"timer.lights_living_room\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":700,"wires":[["8fe7c644.a416e8"]]},{"id":"ce87879b.9a63d8","type":"inject","z":"2bf27921.c09716","name":"5 mins","topic":"","payload":"00:05:00","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":780,"wires":[["686bae9e.92d7f"]]},{"id":"8fe7c644.a416e8","type":"api-call-service","z":"2bf27921.c09716","name":"Timer Start","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"timer","service":"start","entityId":" ","data":"{\"entity_id\":\"timer.lights_living_room\",\"duration\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":700,"wires":[["ddc79ff7.2cc36"]]},{"id":"ed170e7f.cb517","type":"debug","z":"2bf27921.c09716","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1370,"y":640,"wires":[]},{"id":"ddc79ff7.2cc36","type":"change","z":"2bf27921.c09716","name":"Set log item","rules":[{"t":"set","p":"log.item","pt":"msg","to":"timer.lights_living_room","tot":"str"},{"t":"set","p":"log.action","pt":"msg","to":"'has been started by No Motion - ' & $$.payload","tot":"jsonata"},{"t":"set","p":"log.type","pt":"msg","to":"Timer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":700,"wires":[["ed170e7f.cb517"]]},{"id":"e37b4db9.07b3f","type":"link out","z":"2bf27921.c09716","name":"Turn Off","links":["7f717e3f.49fa4"],"x":1315,"y":700,"wires":[]},{"id":"8939f2e1.5810d","type":"server-state-changed","z":"2bf27921.c09716","name":"Motion","server":"86fae200.61af7","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.living_room_occupancy","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":680,"wires":[["f09aaab8.f86958"],["64de2769.ce2148"]]},{"id":"5cc24ce0.9ab4f4","type":"inject","z":"2bf27921.c09716","name":"on","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":620,"wires":[["f09aaab8.f86958"]]},{"id":"f02c322d.ebf72","type":"inject","z":"2bf27921.c09716","name":"off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":740,"wires":[["64de2769.ce2148"]]},{"id":"f09aaab8.f86958","type":"api-call-service","z":"2bf27921.c09716","name":"Timer Cancel","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"timer","service":"cancel","entityId":" ","data":"{\"entity_id\":\"timer.lights_living_room\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":250,"y":640,"wires":[[]]},{"id":"500e827b.37a89c","type":"api-current-state","z":"2bf27921.c09716","name":"Location Mode","server":"86fae200.61af7","version":1,"outputs":2,"halt_if":"[\"Evening\",\"Night\"]","halt_if_type":"jsonata","halt_if_compare":"does_not_include","override_topic":false,"entity_id":"input_select.location_mode","state_type":"str","state_location":"location_mode","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":700,"wires":[["a758695d.65a808"],["59d06fe1.414cb"]]},{"id":"59d06fe1.414cb","type":"change","z":"2bf27921.c09716","name":"5 mins","rules":[{"t":"set","p":"payload","pt":"msg","to":"00:05:00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":740,"wires":[["686bae9e.92d7f"]]},{"id":"a758695d.65a808","type":"change","z":"2bf27921.c09716","name":"15 mins","rules":[{"t":"set","p":"payload","pt":"msg","to":"00:15:00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":660,"wires":[["686bae9e.92d7f"]]},{"id":"a57897d0.845d18","type":"server-events","z":"2bf27921.c09716","name":"Timer Finished","server":"86fae200.61af7","event_type":"timer.finished","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":120,"y":960,"wires":[["5e422290.52776c"]]},{"id":"5e422290.52776c","type":"switch","z":"2bf27921.c09716","name":"Lights Timer","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"timer.lights_living_room","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":960,"wires":[["a96fbc8b.98ef5","846e94c7.854788"]]},{"id":"d6d92bd6.7d76f8","type":"inject","z":"2bf27921.c09716","name":"Timer Finished","topic":"","payload":"{\"entity_id\":\"timer.lights_living_room\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":900,"wires":[["5e422290.52776c"]]},{"id":"64de2769.ce2148","type":"api-current-state","z":"2bf27921.c09716","name":"Lights On?","server":"86fae200.61af7","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.living_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":true,"x":250,"y":700,"wires":[["500e827b.37a89c"],[]]},{"id":"4aaf73ef.48391c","type":"server-state-changed","z":"e3330cd1.4ad86","name":"Presence","server":"86fae200.61af7","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.presence_all","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":940,"wires":[["fe36cb0a.466598"],["4d65a2e4.b8fb8c"]]},{"id":"98aa8442.03fdb8","type":"inject","z":"e3330cd1.4ad86","name":"","topic":"","payload":"home","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":880,"wires":[["fe36cb0a.466598"]]},{"id":"98524c95.1751e","type":"inject","z":"e3330cd1.4ad86","name":"","topic":"","payload":"not_home","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1000,"wires":[["4d65a2e4.b8fb8c"]]},{"id":"69ec6b5a.809ce4","type":"api-call-service","z":"e3330cd1.4ad86","name":"Timer Cancel","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"timer","service":"cancel","entityId":" ","data":"{\"entity_id\":\"timer.away\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":980,"wires":[["568ae685.876138"]]},{"id":"568ae685.876138","type":"api-call-service","z":"e3330cd1.4ad86","name":"Timer Start","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"timer","service":"start","entityId":" ","data":"{\"entity_id\":\"timer.away\",\"duration\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":980,"wires":[["d1ce7a35.315948"]]},{"id":"4d65a2e4.b8fb8c","type":"change","z":"e3330cd1.4ad86","name":"7 mins","rules":[{"t":"set","p":"payload","pt":"msg","to":"00:07:00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":980,"wires":[["69ec6b5a.809ce4","bfb6d294.ca57d"]]},{"id":"fe36cb0a.466598","type":"api-call-service","z":"e3330cd1.4ad86","name":"Timer Cancel","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"timer","service":"cancel","entityId":" ","data":"{\"entity_id\":\"timer.away\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":290,"y":900,"wires":[["1bad0360.50b04d"]]},{"id":"d1ce7a35.315948","type":"change","z":"e3330cd1.4ad86","name":"Set log item","rules":[{"t":"set","p":"log.item","pt":"msg","to":"timer.away","tot":"str"},{"t":"set","p":"log.action","pt":"msg","to":"'has been started by SHM (Presence) - ' & $$.payload","tot":"jsonata"},{"t":"set","p":"log.type","pt":"msg","to":"Timer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":980,"wires":[["b5481706.a33978"]]},{"id":"b5481706.a33978","type":"link out","z":"e3330cd1.4ad86","name":"Turn Off","links":["7f717e3f.49fa4"],"x":955,"y":980,"wires":[]},{"id":"646f2fe1.4fecc","type":"switch","z":"e3330cd1.4ad86","name":"Night/Away Timer","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"timer.night","vt":"str"},{"t":"eq","v":"timer.away","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":740,"wires":[["d9dd1649.6fa198","e1cbe7fb.92cf38"],["d6baa6e4.0b0528"]]},{"id":"e26aebff.6b29b8","type":"server-events","z":"e3330cd1.4ad86","name":"Timer Finished","server":"86fae200.61af7","event_type":"timer.finished","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":140,"y":740,"wires":[["646f2fe1.4fecc"]]},{"id":"c9f1f4a0.1ef578","type":"inject","z":"e3330cd1.4ad86","name":"Timer Finished","topic":"","payload":"{\"entity_id\":\"timer.lights_living_room\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":800,"wires":[["646f2fe1.4fecc"]]},{"id":"836e40d9.b23de","type":"server-state-changed","z":"e3330cd1.4ad86","name":"Motion","server":"86fae200.61af7","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.downstairs_occupancy","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":280,"wires":[["1e0b522b.a83f6e"],["3936b03b.2de4"]]},{"id":"3936b03b.2de4","type":"api-call-service","z":"e3330cd1.4ad86","name":"Timer Cancel","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"timer","service":"cancel","entityId":" ","data":"{\"entity_id\":\"timer.night\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":320,"wires":[["1bc0ee11.d81132","97efb78b.e59758"]]},{"id":"a042b7eb.9e36e8","type":"api-call-service","z":"e3330cd1.4ad86","name":"Timer Cancel","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"timer","service":"cancel","entityId":" ","data":"{\"entity_id\":\"timer.night\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":260,"wires":[["f5964b37.0c3028"]]},{"id":"f5964b37.0c3028","type":"api-call-service","z":"e3330cd1.4ad86","name":"Timer Start","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"timer","service":"start","entityId":" ","data":"{\"entity_id\":\"timer.night\",\"duration\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1370,"y":240,"wires":[["5b4803bc.084b3c"]]},{"id":"736fc24e.02b8bc","type":"change","z":"e3330cd1.4ad86","name":"15 mins","rules":[{"t":"set","p":"payload","pt":"msg","to":"00:15:00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":260,"wires":[["a042b7eb.9e36e8"]]},{"id":"5b4803bc.084b3c","type":"change","z":"e3330cd1.4ad86","name":"Set log item","rules":[{"t":"set","p":"log.item","pt":"msg","to":"timer.night","tot":"str"},{"t":"set","p":"log.action","pt":"msg","to":"'has been started by SHM (Motion) - ' & $$.payload","tot":"jsonata"},{"t":"set","p":"log.type","pt":"msg","to":"Timer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":240,"wires":[["7c19f4a9.0028bc"]]},{"id":"7c19f4a9.0028bc","type":"link out","z":"e3330cd1.4ad86","name":"Turn Off","links":["7f717e3f.49fa4"],"x":1675,"y":240,"wires":[]},{"id":"8ce7a601.ce42a8","type":"time-range-switch","z":"e3330cd1.4ad86","name":"","lat":"51.33186","lon":"-1.04849","startTime":"22:00","endTime":"01:00","startOffset":0,"endOffset":0,"x":450,"y":200,"wires":[["a2b3ced4.59428"],[]]},{"id":"5c138dd5.38be34","type":"time-range-switch","z":"e3330cd1.4ad86","name":"","lat":"51.33186","lon":"-1.04849","startTime":"01:00","endTime":"06:00","startOffset":0,"endOffset":0,"x":450,"y":260,"wires":[["f01ce7d4.f5fff8"],[]]},{"id":"a2b3ced4.59428","type":"api-current-state","z":"e3330cd1.4ad86","name":"Location Mode","server":"86fae200.61af7","version":1,"outputs":2,"halt_if":"[\"Evening\"]","halt_if_type":"jsonata","halt_if_compare":"does_not_include","override_topic":false,"entity_id":"input_select.location_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":640,"y":180,"wires":[["f01ce7d4.f5fff8"],[]]},{"id":"1e0b522b.a83f6e","type":"change","z":"e3330cd1.4ad86","name":"Link","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":240,"wires":[["8ce7a601.ce42a8","5c138dd5.38be34"]]},{"id":"daa41e9d.c938a","type":"inject","z":"e3330cd1.4ad86","name":"","topic":"","payload":"force","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":200,"wires":[["736fc24e.02b8bc"]]},{"id":"bfb6d294.ca57d","type":"api-call-service","z":"e3330cd1.4ad86","name":"Timer Cancel","server":"86fae200.61af7","version":1,"debugenabled":false,"service_domain":"timer","service":"cancel","entityId":" ","data":"{\"entity_id\":\"timer.night\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":1040,"wires":[[]]},{"id":"e51978aa.f768f8","type":"comment","z":"2bf27921.c09716","name":"Too many log items, so no logging","info":"","x":1440,"y":740,"wires":[]},{"id":"f01ce7d4.f5fff8","type":"api-current-state","z":"e3330cd1.4ad86","name":"Location Mode","server":"86fae200.61af7","version":1,"outputs":2,"halt_if":"[\"Night\"]","halt_if_type":"jsonata","halt_if_compare":"does_not_include","override_topic":false,"entity_id":"input_select.location_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":840,"y":260,"wires":[["736fc24e.02b8bc"],[]]},{"id":"2e382e76.1a91a2","type":"server-state-changed","z":"cee05142.c172e8","name":"Bedroom 1 Motion","server":"86fae200.61af7","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.geniushub_bedroom1_occupancy","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":400,"wires":[["3a3502e9.e91cfe"],["509bf3a9.43f0dc"]]},{"id":"3a3502e9.e91cfe","type":"change","z":"cee05142.c172e8","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":380,"wires":[["4ee22883.03c1f8"]]},{"id":"4ee22883.03c1f8","type":"stoptimer","z":"cee05142.c172e8","duration":"30","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":640,"y":400,"wires":[["4b51255f.9745ec"],[]]},{"id":"4b51255f.9745ec","type":"api-current-state","z":"cee05142.c172e8","name":"Get Light","server":"86fae200.61af7","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{topic}}","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":820,"y":500,"wires":[["51ad849b.cca53c"],[]]},{"id":"51ad849b.cca53c","type":"change","z":"cee05142.c172e8","name":"Set log item","rules":[{"t":"set","p":"log.item","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"log.action","pt":"msg","to":"has been on for 30 minutes","tot":"str"},{"t":"set","p":"log.type","pt":"msg","to":"Light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":500,"wires":[["8cbd826b.835b1"]]},{"id":"8cbd826b.835b1","type":"link out","z":"cee05142.c172e8","name":"Security","links":["7f717e3f.49fa4"],"x":1115,"y":500,"wires":[]},{"id":"549448ee.abb0c8","type":"server-state-changed","z":"cee05142.c172e8","name":"Bedroom 2 Motion","server":"86fae200.61af7","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.geniushub_bedroom2_occupancy","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":500,"wires":[["9c3ee099.fe397"],["2d211f4.ffce9e"]]},{"id":"9c3ee099.fe397","type":"change","z":"cee05142.c172e8","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":480,"wires":[["2f718fd0.8716"]]},{"id":"2f718fd0.8716","type":"stoptimer","z":"cee05142.c172e8","duration":"30","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":640,"y":500,"wires":[["4b51255f.9745ec"],[]]},{"id":"509bf3a9.43f0dc","type":"api-current-state","z":"cee05142.c172e8","name":"Get Light","server":"86fae200.61af7","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{topic}}","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":460,"y":420,"wires":[["4ee22883.03c1f8"],[]]},{"id":"2320835d.ab167c","type":"api-current-state","z":"cee05142.c172e8","name":"Get Light","server":"86fae200.61af7","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{topic}}","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":460,"y":520,"wires":[["2f718fd0.8716"],[]]},{"id":"168b64e3.d3be8b","type":"server-state-changed","z":"cee05142.c172e8","name":"Bedroom 3 Motion","server":"86fae200.61af7","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.geniushub_bedroom3_occupancy","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":600,"wires":[["6a5286ee.e82818"],["e3ff082a.8b3018"]]},{"id":"6a5286ee.e82818","type":"change","z":"cee05142.c172e8","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"group.bedroom_3_lights_actual","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":580,"wires":[["6e5bc7e3.50ac68"]]},{"id":"a0a00bb9.530f78","type":"api-current-state","z":"cee05142.c172e8","name":"Get Light","server":"86fae200.61af7","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{topic}}","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":460,"y":620,"wires":[["6e5bc7e3.50ac68"],[]]},{"id":"6e5bc7e3.50ac68","type":"stoptimer","z":"cee05142.c172e8","duration":"30","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":640,"y":600,"wires":[["4b51255f.9745ec"],[]]},{"id":"e0e76718.d6d318","type":"inject","z":"cee05142.c172e8","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":660,"wires":[["e3ff082a.8b3018"]]},{"id":"14a45abb.86b6b5","type":"change","z":"cee05142.c172e8","name":"Set Light","rules":[{"t":"set","p":"topic","pt":"msg","to":"group.bedroom_1_lights_actual","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":420,"wires":[[]]},{"id":"2d211f4.ffce9e","type":"change","z":"cee05142.c172e8","name":"Set Light","rules":[{"t":"set","p":"topic","pt":"msg","to":"group.bedroom_2_lights_actual","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":520,"wires":[["2320835d.ab167c"]]},{"id":"e3ff082a.8b3018","type":"change","z":"cee05142.c172e8","name":"Set Light","rules":[{"t":"set","p":"topic","pt":"msg","to":"group.bedroom_3_lights_actual","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":620,"wires":[["a0a00bb9.530f78","7a7aecde.bd75f4"]]},{"id":"7a7aecde.bd75f4","type":"debug","z":"cee05142.c172e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":680,"wires":[]}]